.home-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(83, 83, 83, 0.8) 0%, rgba(134, 134, 134, 0.8) 100%), url("/../assets/img/bg-masthead.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.home-menu__title{
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

.home-menu .home-menu__wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.home-menu .home-menu__wrapper .navbar{
    position: relative;
}
.home-menu .home-menu__wrapper .navbar .container{
    width: 100vw;
    height: 80vh;
}
.home-menu .home-menu__wrapper .navbar .home-menu__link{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    /* border-radius: 50%; */
    overflow: hidden;
}
.home-menu .home-menu__wrapper .navbar .home-menu__image{
    position: relative;
    max-width: 30vw;
}
.home-menu .home-menu__wrapper .navbar .navbar-nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-menu #mainNav .navbar-nav .nav-item .nav-link{
    font-size: 1.5rem;
}