<section class="home-menu">
  <h1 class="home-menu__title">Welcome to my portfolio website</h1>
  <h2 class="home-menu__subtitle">
    My name is Max Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Blanditiis debitis animi quidem minima, officia earum dicta deserunt
    asperiores iste nihil? Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Obcaecati nam suscipit numquam pariatur nesciunt odio similique atque
    natus libero doloribus!
  </h2>
  <div class="home-menu__wrapper">
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
    <h2 class="container__title">Choose option</h2>
      <div class="container">
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <div class="nav-item__image-block">
                <img
                  src="../../assets/img/bg-mastheadMy.jpg"
                  class="nav-item__image"
                />
              </div>
              <a class="nav-link js-scroll-trigger" routerLink="/about"
                >About me?</a
              >
            </li>
            <li class="nav-item">
              <div class="nav-item__image-block">
                <img
                  src="../../assets/img/portfolio/fullsize/1.jpg"
                  class="nav-item__image"
                />
              </div>
              <a
                class="nav-link js-scroll-trigger"
                routerLink="/webdesignprojects"
                >My web design cases?</a
              >
            </li>
            <li class="nav-item">
              <div class="nav-item__image-block">
                <img
                  src="../../assets/img/bg-masthead.jpg"
                  class="nav-item__image"
                />
              </div>
              <a
                class="nav-link js-scroll-trigger"
                routerLink="/graphicdesignprojects"
                >My graphic design cases?</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
